body {
    background: url('../images/train.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}

.background {
    margin: 0 10%;
    padding: 20px;
    background: rgb(153, 153, 153);
    /* Fallback for older browsers without RGBA-support */
    background: rgba(153, 153, 153, 0.8);
}

.text {
    color: white;
}

.schedule {
    color: white;
}